/.idea/
/.vagrant/
/vagrant/
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/bower_components/
/node_modules/
!/web/assets/
/web/assets/*
!web/assets/.gitkeep
/web/avatar/*
/web/avatar/mini/*
!/web/avatar/mini/.gitkeep
/Vagrantfile
/bin/symfony_requirements
/bootstrap.sh
/web/config.php
/web/backend/img/upload/*
!/web/backend/img/upload/.gitkeep
/web/uploads/post_images/*
!/web/uploads/post_images/.gitkeep
/web/bower_components/*
/web/uploads/album_images/*
!/web/uploads/album_images/.gitkeep