<div class="all-news__item">
    <div class="all-news__img-wrapper">
        <img src="{{ item.src }}" alt="" class="all-news__img">
    </div>
    <div class="all-news__content">
        <div class="all-news__title">
            <a href="#" class="all-news__title-link">Как "Братина" в "Марьино" побывала</a>
        </div>
        <div class="all-news__decs">
            Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
            Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
        </div>
        <div class="all-news__link-wrapper">
            <a href="#" class="all-news__link">Продолжение</a>
        </div>
    </div>
</div>