<div class="breadcrumbs">
    <a href="#" class="breadcrumbs__link">Главная</a>
    <a href="#" class="breadcrumbs__link">Новости</a>
    <a href="#" class="breadcrumbs__link">Как "Братина" в "Марьино" побывала</a>
</div>