<div class="content-right">
    <section class="leaders">
        <div class="leaders__title">
            Лидеры
            <div class="leaders__select">
                <select name="" id="" class="select">
                    <option value="">Лига А</option>
                    <option value="">Лига Б</option>
                    <option value="">Лига С</option>
                </select>
            </div>
        </div>
        <div class="leaders__list">
           {# {% set best = getCurrentSeasonTop() %}
            {% include 'blocks/leaders-item.twig' with {item: {points: best.forward.forwardScore, name: 'Очков', role: 'Бомбардир'}, member: best.forward.member } %}
            {% include 'blocks/leaders-item.twig' with {item: {points: best.sniper.goals, name: 'Голов', role: 'Снайпер'}, member: best.sniper.member} %}
            {% include 'blocks/leaders-item.twig' with {item: {points: best.assistant.assistantGoals, name: 'Пасов', role: 'Ассистент'}, member: best.assistant.member} %}
            {% include 'blocks/leaders-item.twig' with {item: {points: best.back.forwardScore, name: 'Очков', role: 'Защитник'}, member: best.back.member} %}
            {% include 'blocks/leaders-item.twig' with {item: {points: best.goalkeeper.reliabilityCoef, name: 'Очков', role: 'Вратарь'}, member: best.goalkeeper.member} %}#}
        </div>
        <div class="leaders__link">
            <a href="#">Вся статистика</a>
        </div>
    </section>
    <section class="sidebar-table">
        <div class="sidebar-table__title">Таблица</div>
        <div class="sidebar-table__list">
            {% for item in getCurrentSeasonStatistic() %}
                {% include 'blocks/sidebar-item-table.twig' with {league: item.league, teams: item.seasonteams} %}
            {% endfor %}
        </div>
        <div class="sidebar-table__link">
            <a href="{{ url('standings.current') }}">Вся статистика</a>
        </div>
    </section>
</div>