<div class="content-right">
    <section class="leaders">
        <div class="leaders__title">Лидеры</div>
        <div class="leaders__list">
            {% include 'blocks/leaders-item.twig' with {item: {points: '7', name: 'Очков', role: 'Бомбардир'}} %}
        </div>
        <div class="leaders__link">
            <a href="#">Вся статистика</a>
        </div>
    </section>
    <section class="sidebar-table">
        <div class="sidebar-table__title">Таблица</div>
        <div class="sidebar-table__list">
            {% for item in getCurrentSeasonStatistic() %}
                {% include 'blocks/sidebar-item-table.twig' with {league: item.league, teams: item.seasonteams} %}
            {% endfor %}
        </div>
        <div class="sidebar-table__link">
            <a href="{{ url('standings.current') }}">Вся статистика</a>
        </div>
    </section>
</div>