<div class="media-item">
    <div class="media-item__img">
        <a href="media-page.html" class="media-item__link">
            <img src="{{ item.src }}" alt="">
        </a>
    </div>
    <p class="media-item__desc">
        <a href="media-page.html" class="media-item__link">
            Церемония награждения "Зауралья" серебряными медалями
        </a>
    </p>
</div>