<div class="media-item">
    <div class="media-item__img">
        <a href="{{ url('media.album', {id: album.id}) }}" class="media-item__link">
            <img src="/assets/img/media/m-7.jpg" alt="">
        </a>
    </div>
    <p class="media-item__desc">
        <a href="{{ url('media.album', {id: album.id}) }}" class="media-item__link">
            {{ album.title }}
        </a>
    </p>
</div>