<div class="news-item">
    <div class="news-item__img">
        <a href="#" class="news-item__img-link">
            <img src="{{ item.src }}" alt="">
        </a>
    </div>
    <div class="news-item__content">
        <div class="news-item__title">
            <a href="#" class="news-item__title-link">{{ item.title }}</a>
        </div>
        <p class="news-item__desc">
            {{ item.desc }}
        </p>
        <div class="news-item__info">
            <div class="news-item__date">29 августа</div>
            <a href="#" class="news-item__link">Продолжение</a>
        </div>
    </div>
</div>