<div class="sidebar-table__item">
    <div class="sidebar-table__header">{{ league.metadata.title }}</div>
    <table class="table table--sidebar">
        <tr>
            <th>№</th>
            <th>Команда</th>
            <th>И</th>
            <th>В</th>
            <th>О</th>
        </tr>
        {% for num,seasonteam in teams %}
        <tr>
            <td>{{ num+1 }}</td>
            <td><a href="{{ url('team.index', {id: seasonteam.team.id}) }}">{{ seasonteam.team.metadata.title }}</a></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        {% endfor %}
    </table>
</div>