.footer {
	background-color: #152030;
}

.footer__wrapper {
	display: flex;
	color: #fff;
	min-height: 110px;
	align-items: center;
	justify-content: space-between;
}

.footer__nav-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
}

.footer__nav-link {
	color: #fff;
	display: inline-block;
	padding: 0 25px;

	&:hover {
		text-decoration: none;
	}
}

.footer__elarts-link {
	color: #fff;

	&:hover {
		text-decoration: none;
	}
}