.leaders {
	background-color: #fff;
	border: 1px solid #c5dee9;
	padding: 30px 25px 20px;
	margin-bottom: 20px;

	//display: none;
}

.leaders__title {
	border-bottom: 2px solid #0085d6;
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	color: #11364e;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leaders__select {
	position: relative;

	.select {
		font-size: 13px;
		padding: 0 30px 0 10px;
		font-weight: 400;
	}

	&::after {
		content: '';
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-top: 7px solid #0085d6;
		border-right: 7px solid transparent;
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 10px;
	}
}

.leaders__list {
	margin-top: 10px;
}

.leaders__item {
	height: 95px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #c5dee9;
	box-sizing: border-box;
}

.leaders__img {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	overflow: hidden;
}

.leaders__img-link {
	display: block;
}

.leaders__info {
	width: 140px;
	margin-left: 5px;
}

.leaders__info-role {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	line-height: 16px;
	color: #0085d6;
}

.leaders__info-name-link {
	font-size: 13px;
	line-height: 16px;
	color: #11364e;
	text-decoration: none;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 2px;
	white-space: nowrap;
}

.leaders__info-number-link {
	font-size: 12px;
	color: #0085d6;
	text-decoration: none;
	display: block;
}

.leaders__points {
	text-align: right;
}

.leaders__points-count {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	line-height: 36px;
	color: #11364e;
}

.leaders__points-name {
	font-size: 13px;
	line-height: 12px;
	color: #0a2536;
}

.leaders__link {
	margin-top: 25px;
	text-align: center;

	a {
		font-size: 13px;
		color: #0085d6;

		&:hover {
			text-decoration: none;
		}
	}
}