<div class="leaders__item">
    <div class="leaders__img">
        <a href="#" class="leaders__img-link">
            <img src="img/profile/p-1.jpg" alt="">
        </a>
    </div>
    <div class="leaders__info">
        <div class="leaders__info-role">{{ item.role }}</div>
        <div class="leaders__info-name"><a href="#" class="leaders__info-name-link">Пушкарев Максим</a></div>
        <div class="leaders__info-number"><a href="#" class="leaders__info-number-link">#20 Молния</a></div>
    </div>
    <div class="leaders__points">
        <div class="leaders__points-count">{{ item.points }}</div>
        <div class="leaders__points-name">{{ item.name }}</div>
    </div>
</div>