<div class="sidebar-table__item">
    <div class="sidebar-table__header">{{ item.header }}</div>
    <table class="table table--sidebar">
        <tr>
            <th>№</th>
            <th>Команда</th>
            <th>И</th>
            <th>В</th>
            <th>О</th>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="#">Белые медведи</a></td>
            <td>3</td>
            <td>2</td>
            <td>6</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">Студенты</a></td>
            <td>3</td>
            <td>2</td>
            <td>6</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="#">Номад</a></td>
            <td>3</td>
            <td>1</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="#">Прикаспиец</a></td>
            <td>3</td>
            <td>1</td>
            <td>3</td>
        </tr>
    </table>
</div>