{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="page wrapper">
        {% include 'blocks/breadcrumbs.twig' %}
        <h1 class="title">О лиге</h1>
        <div class="about__wrapper">
            <div class="about__content">
                <p>
                    Пензенская Любительская Хоккейная Лига (ПЛХЛ) была образована в сентябре 2014 года.Организаторами Пензенской Любительской Хоккейной лиги являются
                    Лосев Дмитрий Юрьевич и Галеев Марат Фаритович
                    Основные задачи организации:<br>
                    -Популяризация хоккея в г.Пензе и Пензенской области<br>
                    -Организация досуга населения в возрасте от 16 до 60 лет<br>
                    -Объединение и сплочение всех любительских коллективов г.Пензы и Пензенской области<br>
                    -Пропаганда здорового образа жизни населения<br>
                    -Вовлечение молодежи в занятие спортом<br>
                    -Проведение культурно-массовых мероприятий спортивного направления.<br>
                    С 2017 года Пензенская Любительская Хоккейная Лига действует при поддержке Федерации Хоккея Пензенской области.
                </p>
                <p>
                    Немного истории ПЛХЛ:<br>
                    -Сезон 2014-2015 "1-ый Чемпионат Пензенской Любительской Хоккейной Лиги" (7 команд)
                </p>
                <p>
                    Состав Лиги:Волки,Метеор,Сокол,ЖБИ,Ястребы,Молот,Легион.
                </p>
                <p>
                    1 место - Команда ЛХК "Волки"<br>
                    2 место - Команда ЛХК "Метеор"<br>
                    3 место - Команда ЛХК "ЖБИ"<br>
                </p>
                <p>
                    Лучший нападающий - Бухтояров Михаил (ЛХК "Волки")<br>
                    Лучший зашитник - Олейников Алексей (ЛХК "Метеор")<br>
                    Лучший вратарь - Жуков Илья (ЛХК "ЖБИ")<br>
                </p>
                <p>
                    -Сезон 2015-2016 "2-ой Чемпионат Пензенской Любительской Хоккейной Лиги" (Гр. А-6 команд,Гр. Б-8 команд)
                </p>
                <p>
                    Состав Лиги:<br>
                    Гр.А:Вольный,Молния,Леопарды,Метеор,Метеор-2,ЖБИ.<br>
                    Гр.Б:Волки,Сура,Молот,Колдаис,Легион,Медведь,Динамо,Локомотив.
                </p>
                <p>
                    Результаты Чемпионата ПЛХЛ сезона 2015/2016
                </p>
                <p>
                    Группа "А"<br>
                    1 место - Команда ЛХК "Вольный"<br>
                    2 место - Команда ЛХК "Молния"<br>
                    3 место - Команда ЛХК "Леопарды"<br>
                </p>
                <p>
                    Самый ценный игрок - Логинов Станислав (ЛХК "Леопарды")<br>
                    Лучший нападающий - Макаров Александр (ЛХК "Вольный)<br>
                    Лучший защитник - Лисенков Дмитрий (ЛХК "Вольный")<br>
                    Лучший вратарь - Галеев Марат (ЛХК "Молния")
                </p>
                <p>
                    Группа "Б"<br>
                    1 место - Команда ЛХК "Волки"<br>
                    2 место - Команда ЛХК "Молот"<br>
                    3 место - Команда ЛХК "Локомотив"
                </p>
                <p>
                    Самый ценный игрок - Юртаев Андрей (ЛХК "Молот")<br>
                    Лучший нападающий - Петряйкин Дмитрий (ЛХК "Волки)<br>
                    Лучший защитник - Рябов Николай (ЛХК "Волки")<br>
                    Лучший вратарь - Миряев Евгений (ЛХК "Локомотив)
                </p>
                <p>
                    -Сезон 2016-2017 "3-ий Чемпионат Пензенской Любительской Хоккейной Лиги" (Гр. А-7 команд,Гр. Б-12 команд)
                </p>
                <p>
                    Состав Лиги:<br>
                    Гр.А:Вольный,Метеор,Молния,Волки,Спарта,Динамо,ЖБИ.<br>
                    Гр.Б:Молот,Колдаис,Локомотив,Локо,Спартак,Бессоновка,Сура,Молния-2,ЖБИ-2,Торнадо,Динамит,Молот,
                    Пенза.
                </p>
                <p>
                    Группа "А"<br>
                    1 место - Команда ЛХК "Вольный"<br>
                    2 место - Команда ЛХК "Метеор"<br>
                    3 место - Команда ЛХК "Молния"
                </p>
                <p>
                    Лучший нападающий - Евгений Рыбаков(Метеор)<br>
                    Лучший защитник - Виктор Ступников (Метеор)<br>
                    Лучший Вратарь - Галеев Марат (Молния)<br>
                    Лучший бомбардир - Барышев Андрей(Вольный)<br>
                    Самый ценный игрок - Гоголев Александр(Вольный)
                </p>
                <p>
                    Группа "Б"<br>
                    1 место - Команда ЛХК "Локомотив"<br>
                    2 место - Команда ЛХК "Бессоновка"<br>
                    3 место - Команда ЛХК "Молот"
                </p>
                <p>
                    Лучший нападающий - Антонов Виталий(Молот)<br>
                    Лучший защитник - Глухов Юрий(Бессоновка)<br>
                    Лучший Вратарь - Васякин Александр(Локомотив)<br>
                    Лучший бомбардир - Митин Максим(Колдаис)<br>
                    Самый ценный игрок - Кукушкин Михаил(Локомотив)
                </p>
            </div>
            <div class="about__logo">
                <img src="/assets/img/logo-about.png" alt="">
            </div>
        </div>
    </section>
{% endblock %}