{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="game wrapper">
        <div class="game__title">Кубок победы, любитель</div>
        <div class="game__info">
            <div class="game__date-wrapper">
                <div class="game__date">09 сентября 2017 17:45</div>
                <div class="game__playoff game__playoff--final">Финал</div>
            </div>
            <div class="game__content">
                <div class="game__team game__team--hosts">
                    <div class="game__team-info">
                        <div class="game__team-img">
                            <img src="/assets/img/team/t-1.jpg" alt="">
                        </div>
                        <a href="#" class="game__team-name">СибКом</a>
                        <div class="game__team-city">Саранск</div>
                    </div>
                    <div class="game__points">6</div>
                </div>
                <div class="game__team game__team--guests">
                    <div class="game__team-info">
                        <div class="game__team-img">
                            <img src="/assets/img/team/t-2.jpg" alt="">
                        </div>
                        <a href="#" class="game__team-name">Торпедо</a>
                        <div class="game__team-city">Саранск</div>
                    </div>
                    <div class="game__points game__points--dots">5</div>
                </div>
            </div>
        </div>
        <div class="game__statistics">
            <div class="game__period">
                <div class="game__period-header">1-й период</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">1:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:1</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:2</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score game__table-score--foul">2 мин</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__period">
                <div class="game__period-header">2-й период</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">1:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:1</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:2</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score game__table-score--foul">2 мин</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__period">
                <div class="game__period-header">3-й период</div>
                <div class="game__table">
                    <div class="game__table-header">Голы</div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">1:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:0</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                        <div class="game__table-cell"></div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:1</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score">2:2</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                                <a href="#" class="game__table-link game__table-link--assist">#42 Карманов Булат</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game__table">
                    <div class="game__table-header">Удаления</div>
                    <div class="game__table-row">
                        <div class="game__table-cell"></div>
                        <div class="game__table-cell">
                            <div class="game__table-time">02:13</div>
                            <div class="game__table-score game__table-score--foul">2 мин</div>
                            <div class="game__table-players">
                                <a href="#" class="game__table-link">#15 Исаев Семён</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__summary">
                <div class="game__summary-header">Общая статистика</div>
                <table class="table table--summary">
                    <tr>
                        <th>Период</th>
                        <th>Броски СибКом</th>
                        <th>Броски Торпедо</th>
                        <th>Удаления СибКом</th>
                        <th>Удаления Торпедо</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>
                    <tr class="table-total">
                        <td>Итого</td>
                        <td>44</td>
                        <td>44</td>
                        <td>44</td>
                        <td>44</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock %}