{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="news wrapper">
        <div class="news__title">
            Новости
            <a href="#" class="news__title-link">Все новости</a>
        </div>
        <div class="news__list">
            {% include 'blocks/news-item.twig' with {item: {src: '/assets/img/news/n-1.jpg', title: 'Практически все время занято хоккеем', desc: 'В преддверии очередного хоккейного сезона представляем большое интервью с руководителем ПЛХЛ Дмитрием Лосевым'}} %}
            {% include 'blocks/news-item.twig' with {item: {src: '/assets/img/news/n-2.jpg', title: 'Сборная ПЛХЛ заняла почётное 3-е место!', desc: 'В последнем матче, наша команда в упорнейшей борьбе одолела соперников из города Чебоксары.'}} %}
            {% include 'blocks/news-item.twig' with {item: {src: '/assets/img/news/n-3.jpg', title: 'Друзья, завершился первый кубок Победы.', desc: 'Результаты турнира'}} %}
        </div>
    </section>
    <section class="media wrapper">
        <div class="media__title">
            Медиа
            <a href="media.html" class="media__title-link">Все материалы</a>
        </div>
        <div class="media__list">
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-1.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-2.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-3.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-4.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-5.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-6.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-7.jpg'}} %}
            {% include 'blocks/media-item.twig' with {item: {src: '/assets/img/media/m-8.jpg'}} %}
        </div>
    </section>
    <section class="about wrapper">
        <div class="about__title">О нас</div>
        <div class="about__wrapper">
            <div class="about__content">
                <p>
                    Молодая лига, которая была основана в 2014 году! Руководители Лиги на высоте! Великолепный интересный сайт! Новости, дизайн и актуальная информация - это всегда великолепно!!!!👏👏👏
                </p>
                <p>
                    + 19 команд🔥
                </p>
                <p>
                    +450 игроков🔥
                </p>
                <p>
                    Думаем, что это кол-во достигнет еще большего!!!Да мы даже не сомневаемся!!!)😎😎😎
                </p>
                <p>
                    СЕЗОН 2017/2018 - СЕЗОН №4
                    Успехов Лиги!!!)
                </p>
            </div>
            <div class="about__logo">
                <img src="/assets/img/logo-about.png" alt="">
            </div>
        </div>
    </section>
{% endblock %}