{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="news wrapper">
        <div class="news__title">
            Новости
            <a href="{{ url('blog_index')}}" class="news__title-link">Все новости</a>
        </div>
        <div class="news__list">
            {% for post in posts %}
                {% include 'blocks/news-item.twig' with {post: post} %}
            {% endfor %}
        </div>
    </section>
    {% if albums is defined %}
        <section class="media wrapper">
            <div class="media__title">
                Медиа
                <a href="{{ url('media.index') }}" class="media__title-link">Все материалы</a>
            </div>
            <div class="media__list">
                {% for album in albums %}
                    {% include 'blocks/media-item.twig' with {album: album} %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    <section class="about wrapper">
        <div class="about__title">О нас</div>
        <div class="about__wrapper">
            <div class="about__content">
                <p>
                    Молодая лига, которая была основана в 2014 году! Руководители Лиги на высоте! Великолепный интересный сайт! Новости, дизайн и актуальная информация - это всегда великолепно!!!!👏👏👏
                </p>
                <p>
                    + 19 команд🔥
                </p>
                <p>
                    +450 игроков🔥
                </p>
                <p>
                    Думаем, что это кол-во достигнет еще большего!!!Да мы даже не сомневаемся!!!)😎😎😎
                </p>
                <p>
                    СЕЗОН 2017/2018 - СЕЗОН №4
                    Успехов Лиги!!!)
                </p>
            </div>
            <div class="about__logo">
                <img src="/assets/img/logo-about.png" alt="">
            </div>
        </div>
    </section>
{% endblock %}