{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="page wrapper">
        {% include 'blocks/breadcrumbs.twig' %}
        <h1 class="title">Новости</h1>
        <div class="all-news__list">
            {% include 'blocks/all-news-item.twig' with {item: {src: '/assets/img/news/n-1.jpg'}} %}
            {% include 'blocks/all-news-item.twig' with {item: {src: '/assets/img/news/n-2.jpg'}} %}
            {% include 'blocks/all-news-item.twig' with {item: {src: '/assets/img/news/n-3.jpg'}} %}
        </div>
    </section>
{% endblock %}