{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="page wrapper">
        {% include 'blocks/breadcrumbs.twig' %}
        <h1 class="title">Новости</h1>
        <div class="news-page__wrapper">
            <div class="news-page__img-wrapper">
                <img src="/assets/img/news/n-1.jpg" alt="" class="news-page__img">
            </div>
            <div class="news-page__title">Как "Братина" в "Марьино" побывала</div>
            <p>
                Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
            </p>
            <p>
                Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
            </p>
            <p>
                Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей АлексееИван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей АлексееИван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
            </p>
            <p>
                Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей АлексееИван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей АлексееИван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
            </p>
            <p>
                Иван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей АлексееИван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей АлексееИван Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь. Иван
                Бочаров и Андрей Алексеев свозили главную нагрду ВХЛ туда, где начинал свой хоккейный путь.
            </p>
        </div>
    </section>
{% endblock %}