{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="signin page wrapper">
        <h1 class="title">Восстановление пароля</h1>
        <form action="{{ path("fos_user_resetting_send_email") }}" method="post" class="signin__form">
            <div class="signin__item">
                <label for="email" class="label">Ваш e-mail</label>
                <input id="email" type="email" name="username" class="input" placeholder="example@gmail.com" value="" required>
            </div>
            <div class="signin__button">
                <button class="btn btn--action">Прислать пароль</button>
            </div>
        </form>
    </section>
{% endblock %}