{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="profile wrapper page">
        <div class="profile__info">
            <div class="profile__img-wrapper">
                <img src="/assets/img/players/p-1.jpg" alt="" class="profile__img">
            </div>
            <div class="profile__content">
                <div class="profile__name">
                    Оразаев Айдар Муратович
                    <a href="profile-empty.html" class="profile__settings">Редактировать</a>
                </div>
                <div class="profile__list">
                    <div class="profile__item">
                        <div class="profile__type">Дата рождения:</div>
                        <div class="profile__value">10.12.1989</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Позиция:</div>
                        <div class="profile__value">Левый нападающий</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Хват:</div>
                        <div class="profile__value">Левый</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Рост (см.):</div>
                        <div class="profile__value">176</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Вес (кг.):</div>
                        <div class="profile__value">55</div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Команда:</div>
                        <div class="profile__value"><a href="#">Intergaz</a> / <a href="#">Прикаспиец</a></div>
                    </div>
                    <div class="profile__item">
                        <div class="profile__type">Номер:</div>
                        <div class="profile__value">#7 / #66</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile__table">
            <div class="profile__table-header">Статистика игрока</div>
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Сезон</th>
                    <th>Команда</th>
                    <th>Шайб</th>
                    <th>Передач</th>
                    <th>Очков</th>
                    <th>Штраф</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/18</td>
                    <td>Молния</td>
                    <td>10</td>
                    <td>5</td>
                    <td>15</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/18</td>
                    <td>Молния</td>
                    <td>10</td>
                    <td>5</td>
                    <td>15</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>17/18</td>
                    <td>Молния</td>
                    <td>10</td>
                    <td>5</td>
                    <td>15</td>
                    <td>240</td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}