{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="stat page wrapper">
        <h1>Статистика: Лидеры</h1>
        <form action="" method="get" class="stat__form">
            <div class="stat__item">
                <label for="conference" class="label">Лига</label>
                <select id="conference" class="select" onchange="this.form.submit()" name="league_id">
                    <option value="" selected>Все</option>
                </select>
            </div>
            <div class="stat__item">
                <label for="nomination" class="label">Номинации</label>
                <select id="nomination" class="select" onchange="this.form.submit()" name="league_id">
                    <option value="" selected>Бомбардиры</option>
                    <option value="" selected>Снайперы</option>
                    <option value="" selected>Ассистенты</option>
                    <option value="" selected>Защитники</option>
                    <option value="" selected>Вратари</option>
                </select>
            </div>
        </form>
        <div class="table-wrapper">
            <div class="table-wrapper__header">Бомбардиры</div>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Игрок</th>
                    <th>Команда</th>
                    <th>Игровой №</th>
                    <th title="Количество проведенных игр">И</th>
                    <th title="Забитые голы">Ш</th>
                    <th title="Передачи">А</th>
                    <th title="Очки">О</th>
                    <th title="Штрафное время">Штр</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}