<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="games">
		<div class="container">
			<div class="swiper-container">
				<div class="games__list swiper-wrapper">
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
					{% include '../blocks/games-item.twig' with {item: {date: '19.09.2017', pointsHosts: '2', teamHosts: 'Молния-2', pointsGuests: '2', teamGuests: 'Молния'}} %}
				</div>
			</div>
			<div class="games__controls">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
	<header class="header">
		<div class="container">
			<div class="header__wrapper">
				<div class="header__logo">
					<a href="index.html" class="header__logo-link">
						<img src="img/logo.png" alt="" class="header__logo-img">
					</a>
				</div>
				<div class="header__nav">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item">
								<a href="about.html" class="nav__link">О лиге</a>
							</li>
							<li class="nav__item">
								<a href="calendar.html" class="nav__link">Календарь</a>
							</li>
							<li class="nav__item">
								<a href="news.html" class="nav__link">Новости</a>
							</li>
							<li class="nav__item">
								<a href="media.html" class="nav__link">Медиа</a>
							</li>
						</ul>
					</nav>
				</div>
				{% block headerUser %}
					<div class="header__user">
						<a href="registration.html" class="btn btn--action">Регистрация</a>
						<a href="signin.html" class="btn btn--default">Вход</a>
					</div>
				{% endblock %}
			</div>
		</div>
	</header>
	<main class="main">
		<div class="container container--main">
			<div class="content-left">
                {% block content %}{% endblock %}
			</div>
			{% include '../blocks/content-right.twig' %}
		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer__wrapper">
				<div class="footer__text-logo">Пензенская Любительская Хоккейная Лига</div>
				<ul class="footer__nav-list">
					<li class="footer__nav-item">
						<a href="about.html" class="footer__nav-link">О лиге</a>
					</li>
					<li class="footer__nav-item">
						<a href="calendar.html" class="footer__nav-link">Календарь</a>
					</li>
					<li class="footer__nav-item">
						<a href="news.html" class="footer__nav-link">Новости</a>
					</li>
					<li class="footer__nav-item">
						<a href="media.html" class="footer__nav-link">Медиа</a>
					</li>
				</ul>
				<div class="footer__elarts">
					<a href="http://el-arts.ru" class="footer__elarts-link">Сделано в el-arts.ru</a>
				</div>
			</div>
		</div>
	</footer>
	<script src="js/scripts.min.js"></script>
</body>
</html>