<div class="row">
    <div class="col-sm-7 ">
        <a href="#" :id="idSelector" class="editable editable-click " data-type="typeahead">{{ member.player ? member.player.metadata.full_name : 'Выбрать' }}</a>
    </div>
    <div class="col-sm-5 mb-10 text-right">
        <button title="Капитан" :class="[member.type == 'captain' ? 'btn btn-primary' : 'btn btn-default']" v-on:click="onCaptainClick" type="button">К</button>
        <button title="Ассистент" :class="[member.type == 'assistant' ? 'btn btn-info mr-20' : 'btn btn-default mr-20']" v-on:click="onAssistantClick" type="button">А</button>
        <button title="Удалить" v-on:click="remove" class="btn btn-danger"><i aria-hidden="true" class="fa fa-close"></i></button>
    </div>
</div>