<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div :class="modalClass" role="document">
        <div ref="content" :is="content" @bus="handle" :props="data"></div>
    </div>
</div>