<div class="modal-content" id="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Новыая команда в сезоне</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="team">Команда</label>
                <input type="text" class="form-control" id="team" placeholder="Команда">
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
    </div>
</div>