<div class="modal-content" id="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Новый сезон</h4>
    </div>
    <div class="modal-body text-center">
        <div class="input-group" style="width: 200px; margin: auto;">
            <div class="input-group-btn"><button v-on:click="decYear" class="btn btn-info"><<</button></div>
            <div class="input-group-addon">{{ years }}</div>
            <div class="input-group-btn"><button v-on:click="incYear" class="btn btn-info">>></button></div>
        </div>
        <div class="has-error" v-if="error">
            <span class="help-block">{{ error }}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" v-on:click="save" :disabled="saveInProgress" class="btn btn-primary">Сохранить</button>
    </div>
</div>