<div class="modal-content" id="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Новыая команда в сезоне</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Команда</label>
                <div class="col-sm-9">
                    <a href="#" id="team-select" data-type="typeahead">{{ team ? team.metadata.title : 'Выбрать' }}</a>
                </div>
            </div>
        </div>
        <div v-if="team" class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Название</label>
                <div class="col-sm-6">
                    <input class="form-control" id="title" placeholder="Название" :value="team.metadata.title">
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Тренер</label>
                <div class="col-sm-9">
                    <a href="#" id="coach-select" data-type="typeahead">{{ coach ? coach.metadata.surname : 'Выбрать' }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" v-on:click="save" class="btn btn-primary">Сохранить</button>
    </div>
</div>