@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto+Slab:700&subset=cyrillic');

body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	min-width: 1280px;
	background: #ebf6fd;
	color: #11364e;
}

.container {
	width: 1280px;
	padding: 0 28px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;

	&--main {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.content-left {
	width: 912px;
}

.content-right {
	width: 288px;
}

.main {
	padding-bottom: 80px;
}

.wrapper {
	background-color: #fff;
	border: 1px solid #c5dee9;
	padding: 30px 25px;
}

.page {
	height: 100%;
	box-sizing: border-box;
}