{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="registration page wrapper">
        <h1 class="title">Регистрация</h1>
        <form action="#" class="registration__form">
            <div class="registration__item">
                <label for="email" class="label">Ваш e-mail</label>
                <input id="email" type="email" class="input input--error" placeholder="example@gmail.com" required>
                <div class="form-message form-message--error">Данные введены не верно</div>
            </div>
            <div class="registration__item">
                <label for="pass-1" class="label">Пароль</label>
                <input id="pass-1" type="password" class="input" required>
            </div>
            <div class="registration__item">
                <label for="pass-2" class="label">Подтвердите пароль</label>
                <input id="pass-2" type="password" class="input" required>
            </div>
            <div class="registration__item">
                <div class="label">Роль</div>
                <div class="registration__radio">
                    <input name="role" id="radio-1" type="radio" class="input-radio" checked>
                    <label for="radio-1" class="label label--radio">Игрок</label>
                    <input name="role" id="radio-2" type="radio" class="input-radio">
                    <label for="radio-2" class="label label--radio">Болельщик</label>
                </div>
            </div>
            <div class="registration__button">
                <button class="btn btn--action">Зарегистрироваться</button>
            </div>
        </form>
    </section>
{% endblock %}