{% extends 'layouts/default.twig' %}

{% block content %}
    <section class="page wrapper">
        <h1>
            Чемпионат ПЛХЛ. Сезон 2017-2018. Лига "Б".<br>
            Турнирная таблица.
        </h1>
        <div class="table-wrapper">
            <div class="table-wrapper__header">Лига "Б"</div>
            <table class="table">
                <tr>
                    <th>№</th>
                    <th>Команда</th>
                    <th>И</th>
                    <th>В</th>
                    <th>ВБ</th>
                    <th>Н</th>
                    <th>ПБ</th>
                    <th>П</th>
                    <th>ЗШ</th>
                    <th>ПШ</th>
                    <th>Очки</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Молния</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>14</td>
                    <td>32</td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}